<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Album</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Album of us 📸 </h1>
        <a href="{{ url_for('main') }}" class="upload-btn">Tui với bà</a>
        <a href="{{ url_for('main2') }}" class="nextalbum-btn">Album BTS của San nè</a>

         
    </header>

    
<div class="sticky-note">
    <p class="greeting">Chào mừng Nguyễn Như Sương An đến với Album đặc biệt này nhé!</p>

    <p class="main-message">
       Tâm sự mỏng với Sương An là đây chính là album mà tui quyết định làm dành riêng cho 2 đứa mình để lưu giữ những khoảng khắc đẹp 
    </p>
    <p class="hope">Không chỉ lưu lại những khoảnh khắc đẹp, mà tui rất mong là cái website này sẽ phần nào giúp cho bà vui hơn trong những ngày buồn bã(tui mong là thế, lúc tui code cái này thì tui hồi hộp không chắc là San sẽ thích website này)</p>
    <P class = "love"> Tui yêu bà nhiều, và mong những thứ tốt đẹp nhất đến với San</P>
    

    <p class="update-note">
        Hiện cái website này nó bị đơn giản quá nên chắc chắn sẽ có những đợt cập nhật cho cái website riêng của 2 đứa để cho thật đẹp nhé
    </p>
</div>
    
</body>
</html>